* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: #0E1725;
    color: #fff;
    padding: 60px 20px;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #DAE3E5;
}

nav{
    display: flex;
    background: linear-gradient(to bottom, #17263B, #345693 );
    width: 100%;
    height: 50px;
    align-items: center;
    position: fixed;
    
    
    ul{
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin: 5%;

        li {
            list-style-type: none;
        }

        a{
            text-decoration: none;
            color:  #fff;
            font-size: 20px;
            letter-spacing: 4px;
        }

        li:hover a {
            color: #5386E4;
        }
    }

}