* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: #0E1725;
  color: #fff;
  padding: 80px 20px;
  /* height: 100vh; */
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #DAE3E5;
}

nav {
  display: flex;
  background: linear-gradient(to bottom, #17263B, #345693);
  width: 100%;
  height: 50px;
  z-index: 99;
  align-items: center;
  position: fixed;


  ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 5%;

    li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      letter-spacing: 4px;
    }

    li:hover a {
      color: #5386E4;
    }
  }

}

body {
  font-family: Arial, sans-serif;
  background-color: #0f1116;
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #1a1c23;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.05);
  width: 80%;
  position: relative;

  a{
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}

.saiba_mais {
  position: absolute;
  bottom: -33px;
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: #5386E4;
  letter-spacing: 1px;
  transition: .3s ease;
  cursor: pointer;
  font-size: 13px;
  left: 0;
}
.card:hover .saiba_mais {
  bottom: 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 8vw;
  height: 8vw;
  border-radius: 3px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info h3 {
  margin: 0;
  font-size: 1.1em;
  color: #ccc;
}

.card-info p {
  margin: 4px 0;
  color: #ccc;
}

.card-info a {
  color: #3b82f6;
  text-decoration: none;
  font-size: 0.9em;
}

.organizacao {
  display: flex;
  flex-direction: column;
  color: #ccc;
  padding: 0 10px;

  p {
    font-size: 13px;
    text-align: justify;
    margin-top: 3px;
  }
}