* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    background-color: #0E1725;
    color: #fff;
    padding: 60px 20px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #DAE3E5;
}

nav{
    display: flex;
    background: linear-gradient(to bottom, #17263B, #345693 );
    width: 100%;
    height: 50px;
    align-items: center;
    position: fixed;
    
    
    ul{
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin: 5%;

        li {
            list-style-type: none;
        }

        a{
            text-decoration: none;
            color:  #fff;
            font-size: 20px;
            letter-spacing: 4px;
        }

        li:hover a {
            color: #5386E4;
        }
    }

}

.container {
    display: flex;
    background:#1a1c23;
    width: 500px;
    height: 500px;
    border-radius: 7px;
    flex-direction: column;
}

.botao{
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 700px;
}

.inputs{
    display: flex;
    align-items: center;
    flex-direction: column;

    input {
        width: 400px;
        height: 40px;
        margin: 6px;
        border-radius: 10px;
    }

    button {
        width: 200px;
        font-size: 20px;
        background-color: #5386E4;
    }
}